<div class="row">
	<div class="four columns" id="blogs">
		<h2>Blogs</h2>
		{{#each blog in controller}}
			<a href="#" {{action "showBlog" blog}} {{bindAttr class="blog.active"}}>
				<h3>{{blog.titled}}</h3>
				<p>{{blog.explanation}}</p>				
			</a>
		{{/each}}
		<h4>{{#linkTo "new_blog"}}New blog{{/linkTo}}</h4>
	</div>
	<div class="eight columns" id="blog">
		{{outlet}}
	</div>
</div>