<div class="row">
	<div class="twelve columns">
		{{#if isEditing}}
			<a href="" {{action "endUpdate" this}}> Hide editing fields </a>
		{{else}}
			<div class="row">
				<div class="four columns">
					<a href="" {{action "editEntry" this}} class="button"> Edit </a>		
				</div>
				<div class="four columns">
				</div>
				<div class="four columns">
					<a href="" {{action "cancel" this}} class="button alert"> Delete </a>
				</div>
			</div>
		{{/if}}
	</div>
</div>
<div class="row">
	<div class="twelve columns">
		<h2>{{title}}</h2>
		<h4>{{explanation}}</h4>
		<hr>
		<p>{{description}}</p>

		{{#if isEditing}}
			<div class="row">
				<div class="twelve columns">
					{{render "edit_blog" this}}
				</div>	
			</div>
		{{/if}}
	</div>	
</div>

<div class="row">
	<div class="twelve columns">
		<hr>
		<ul>
			<h4>Comments:</h4>
			{{#each comment in comments}}
				<li>{{ comment.description }}</li>				
			{{else}}
				<li style="list-style:none;">
					<h5>No comments yet...</h5>
					<p>Be the first!</p>
				</li>
			{{/each}}
		</ul>	
		{{render "new_comment"}}
	</div>	
</div>