<div class="row">
	<div class="twelve columns">
		<div class="row">
			<div class="eight columns">
				<h2>{{title}} </h2>
				<h3><span>by </span> <b>{{ user.username }}</b></h3>
				<span>{{date createdAt}}</span>
			</div>
			<div class="four columns">
				{{#if isEditing}}
					<a href="" {{action "endUpdate" this}}> Hide editing fields </a>
				{{else}}
					<div class="five columns">
						<a href="" {{action "editEntry" this}} class="button"> Edit </a>		
					</div>
					<div class="five columns">
						<a href="" {{action "cancel" this}} class="button alert"> Delete </a>
					</div>
				{{/if}}
			</div>
		</div>
		<div class="row">
			<div class="twelve columns">
				<h4>{{explanation}}</h4>
				<hr>
				<p>{{description}}</p>

				{{#if isEditing}}
					<div class="row">
						<div class="twelve columns">
							{{render "edit_blog" this}}
						</div>	
					</div>
				{{/if}}
			</div>
		</div>
	</div>	
</div>

<div class="row">
	<div class="twelve columns">
		<hr>
		<h4>Comments:</h4>
		{{#each comment in comments}}
			<div class="row">
				<div class="ten columns">
					<p>
						{{#if comment.editing}}
							{{render "edit_comment" comment}}
						{{else}}
							{{comment.description}} 
						{{/if}}
					</p>
				</div>	
				<div class="one columns">
					{{#if comment.editing}}
						<a href="" {{action "updateComment" comment}} class="edit">  </a>
					{{else}}
						<a href="" {{action "editComment" comment}} class="edit"> Edit </a>
					{{/if}}
				</div>
				<div class="one columns">
					<a href="" {{action "deleteComment" comment}} class="delete"> X </a>
				</div>
			</div>
		{{else}}
			<div class="row">
				<div class="four centered columns">
					<h5>No comments yet...</h5>
					<p>
						If you liked this post. 
						Be the first to comment on it!
					</p>
				</div>				
			{{/each}}
		{{render "new_comment"}}
	</div>	
</div>