<div class="row">
	<div class="four columns" id="blogs">
		<h2>{{#linkTo "blogs" }}Blogs{{/linkTo}}</h2>
		<div class="many_entries_container">
			{{#each blog in controller}}
				<a href="#" {{action "showBlog" blog}} {{bindAttr class="blog.active"}}>
					<h3>{{blog.titled}}</h3>
					<p>{{blog.explanation}}</p>				
				</a>
			{{/each}}
		</div>
		{{render "pager_blog"}}
		<h4>{{#linkTo "new_blog"}}New blog{{/linkTo}}</h4>
	</div>
	<div class="eight columns" id="blog">
		{{outlet}}
	</div>
</div>